body {
	padding: 0;
	margin: 0;
}
header.banner {
    background-image: url(../image/banner.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: content-box;
}
footer {
    background-color: #062b18;
    background-origin: content-box;
}
