@import "skui.css";
footer {
    color: #fff;
}
@media(max-width: 768px) {
    .navigation {
        display: none;
    }
}
@media(min-width: 768px) {
    .navigation {
        display: block !important;
    }
}
