@import "skui.css";
footer {
    color: #fff;
}
@media(max-width: 768px) {
    .navigation {
        display: none;
    }
}
@media(min-width: 768px) {
    .navigation {
        display: block !important;
    }
	/*.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.dropdown>.dropdown-toggle:active {
		!*Without this, clicking will make it sticky*!
		pointer-events: none;
	}*/
}
